.box {
    display: flex;
    height: 100%;
    background-color: beige;
}
.grd {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: beige;
    width: 100%;
    height: 100%;
    
}
.one {
    grid-column: 1/3;
    
    
}
.two {
    grid-row: 1/3; 
    grid-column: 3/4;
    
}


body {
    height: 100%;
    background-color: black;
    
}

html {
    height: 100%;
    background-color: beige;
}
